@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

:root {
    --white: #FFF;
    --blue: #394F67;
    --darker-blue: #1F2B38;
    --pink: ;
    --darker-pink: ;
    --light-gray: #EEEEEE;

    --bg-main: url('/res/bg.png');
    --blue-bg: url('/res/blue-bg.png');
    --pink-bg: url('/res/pink-bg.png');
    --gray-bg: url('/res/gray-bg.png');
}

html {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Mukta';

}

header {
    height: 4.5rem;
    min-width: 100vw;
    position: fixed;
    transition: ease-in;
    transition-duration: 0.2s;
    z-index: 999;
}


.header-bg {
    height: 4.5rem;
    min-width: 100vw;
    position: fixed;

}

.header-bg li {
    left: 10%;

}



header li {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    height: 100%;
    transition: ease;
    transition-duration: 0.5s;
}

header li a {
    text-decoration: none;
    color: white;
    transition: all;
    transition-duration: 0.5s;
}

header li a:hover {
    color: var(--blue);

}

header li .left-ul {
    transition: all;
    transition-duration: .4s;
    position: fixed;
    transform: translateX(-100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    width: 100%;
    height: 180vh;
}

main .marcelo {
    width: 100%;
    height: 100vh;
    background: var(--blue-bg);
    background-color: #1F2B38;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;

    display: flex;

}

main .ingrid {
    width: 100%;
    height: 100vh;
    background: var(--pink-bg);
    background-color: #1F2B38;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;

    display: flex;
}

main .barbara {
    width: 100%;
    height: 100vh;
    background: var(--gray-bg);
    background-color: #1F2B38;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;

    display: flex;
}

main .barbara .logo img {
    width: 200px;
}

.logo {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo img {
    width: 250px;
}

.logo p {
    width: 60%;
    color: var(--white);
    font-size: 1.3rem;
    word-break: normal;
    text-align: center;
    margin-top: 50px;
}

.img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img img {
    width: 380px;

}

main .content {
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.cards {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.card-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 0.95rem;

}

.card-left .text {
    width: 80%;
    height: 60%;
    word-break: normal;
    margin-left: 2%;

}

.card-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.card-right .text {
    width: 80%;
    height: 60%;
    word-break: normal;
    margin-left: 2%;

}

.card01,
.card02 {
    width: 240px;
    height: 200px;
    background: var(--darker-blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card01 img {
    width: 180px;
}

.card02 img {
    width: 160px;
}


@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden ;
    }
    main {
        height: 200vh;
        width: 100vw;
        overflow-x: hidden ;
    }

    main .marcelo {
        height: 100vh;
        width: 100vw;
        background-image: none;

        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .logo {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo img {
        width: 300px;
    }

    .logo p {
        width: 40%;
        height: 20%;
        transform: translateX(200%);
    }

    .img {
        height: 40%;

    }

    main .barbara {
        background-image: none;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .barbara .logo {
        height: 50%;

    }
    main .barbara .logo {
        height: 50%;

    }   
    main .barbara .logo img{
        transform: translateY(40%);
    }
    main .barbara .img {
        height: 50%;
    }

    main .barbara .logo p {
        width: 50%;
    }
    main .barbara .img img{
        height: 120%;
    }

    main .content {
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cards {
        margin-top: 20px;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card01,
    .card02 {
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 70px;
    }

    .card01 img,
    .card02 img {
        width: 60%;
    }

    .card-left {
        width: 100%;
        height: 30vh;
        font-size: 0.8rem;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-left .text {
        width: 100vw;
        height: 40%;

    }

    .card-right {
        width: 100%;
        height: 80vh;
        font-size: 0.8rem;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-right .text {
        width: 100vw;
        height: 40%;
        margin-top: 40%;

    }

    .card02 {
        transform: translateY(30%);
    }
}